/* General style */
html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  color: #1f271b;
}

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.centerBlock {
  margin-left: auto;
  margin-right: auto;
}

.textCenter {
  text-align: center;
}
/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */

/* Flex */
.flex {
  display: flex;
}

.sp-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.flex-middle {
  align-content: center;
  align-items: center;
}

.flex-baseline {
  align-items: baseline;
}
/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */

/* Width */
.w-115{
  width: 115px;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-50 {
  width: 50%;
}
/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */

/* Height */

.h-400 {
  height: 400px;
}

.h-100 {
  height: 100vh;
}

/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */


/* Padding */
.p-50 {
  padding: 50px;
}
.pt-100 {
  padding-top: 100px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}
/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */

/* Margin */
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}
/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */

/* Opacity */
.op-4 {
  opacity: .4;
}

.op-5 {
  opacity: .5;
}

.op-6 {
  opacity: .6;
}

.op-7 {
  opacity: .7;
}

.op-8 {
  opacity: .8;
}

.op-9 {
  opacity: .9;
}

.op-10 {
  opacity: 1;
}
/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */

/* Border */
.br {
  border-radius: 0.25rem;
}

.b-top {
  border-top: 0.25px solid #a6a4a8;
}

.b-bottom {
  border-bottom: 1px solid #a6a4a8;
}

/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */

/* Shadow */
.shadow {
  box-shadow: 1px 2px 4px #A6A4A8;
}

/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */



/* Brand Colors */
.bg-lightSeeGreen {
  background-color: #28afb0;
}

.bg-darkJungleGreen {
  background-color: #1f271b;
}

.bg-darkJungleGreen2 {
  background-color: #12160f;
}

.bg-pineApple {
  background-color: #44355b;
}

.bg-stilDeGrainYellow {
  background-color: #f4d35e;
}

.bg-bigFootFeet {
  background-color: #ee964b;
}

.bg-grey {
  background-color: #a6a4a8;
}

.bg-greyLight {
  background-color: #fafafa;
}

.colorGrey {
  color: #a6a4a8;
}

.colorWhite {
  color: #ffffff;
}

.colorStil {
  color: #f4d35e;
}

.gradient {
  background-image: linear-gradient(137deg, #28afb0, #44355b);
}
/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */

/* Text styles */
.huge {
  font-size: 4.4rem;
  font-weight: 700;
}

.h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.h2 {
  font-size: 3rem;
  font-weight: 700;
}

.h3 {
  font-size: 2.4rem;
  font-weight: 700;
}

.h4 {
  font-size: 2rem;
  font-weight: 700;
}

.introductionText {
  font-size: 1.8rem;
  font-weight: 400;
}

.bodyText {
  font-size: 1.6rem;
  font-weight: 400;
}

.bodyTextBold {
  font-size: 1.6rem;
  font-weight: 700;
}

.smallText {
  font-size: 1rem;
  font-weight: 400;
}

.quoteText {
  font-family: 'Amaranth', sans-serif;
  font-size: 2.4rem;
  font-style: italic;
}

.mayus {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}
/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */



.hoverWhite:hover {
  color: #ffffff;
}


.iconMenu {
  display: none;
}

@media (max-width: 980px) {
  .iconMenu {
    display: block;
  }
}
