/* General style */
html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Assistant', sans-serif;
}

* {
  box-sizing: border-box;
}
/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */

/* Width */
.w-115{
  width: 115px;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}
/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */

/* Opacity */
.op-4 {
  opacity: .4;
}

.op-5 {
  opacity: .5;
}

.op-6 {
  opacity: .6;
}

.op-7 {
  opacity: .7;
}

.op-8 {
  opacity: .8;
}

.op-9 {
  opacity: .9;
}

.op-10 {
  opacity: 1;
}
/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */


/* Brand Colors */
.bg-lightSeeGreen {
  background-color: #28afb0;
}

.bg-darkJungleGreen {
  background-color: #1f271b;
}

.bg-pineApple {
  background-color: #44355b;
}

.bg-stilDeGrainYellow {
  background-color: #f4d35e;
}

.bg-bigFootFeet {
  background-color: #ee964b;
}

.grey {
  color: #a6a4a8;
}

.gradient {
  background-image: linear-gradient(137deg, #28afb0, #44355b);
}
/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */

/* Text styles */
.huge {
  font-size: 4.4rem;
  font-weight: 700;
}

.h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.h2 {
  font-size: 3rem;
  font-weight: 700;
}

.h3 {
  font-size: 2.4rem;
  font-weight: 700;
}

.h4 {
  font-size: 2rem;
  font-weight: 700;
}

.introductionText {
  font-size: 1.8rem;
  font-weight: 400;
}

.bodyText {
  font-size: 1.6rem;
  font-weight: 400;
}

.bodyTextBold {
  font-size: 1.6rem;
  font-weight: 700;
}

.smallText {
  font-size: 1rem;
  font-weight: 400;
}

.quoteText {
  font-family: 'Amaranth', sans-serif;
  font-size: 2.4rem;
  font-style: italic;
}

.mayus {
  text-transform: uppercase;
}
/* --··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··----··--··--··--··--··-- */


.iconMenu {
  display: none;
}

@media (max-width: 980px) {
  .iconMenu {
    display: block;
  }
}
