.navbar-translate {
width: 100%;
position: relative;
display: flex;
-ms-flex-pack: justify !important;
justify-content: space-between !important;
-ms-flex-align: center;
align-items: center;
-webkit-transform: translate3d(0px, 0, 0);
-moz-transform: translate3d(0px, 0, 0);
-o-transform: translate3d(0px, 0, 0);
-ms-transform: translate3d(0px, 0, 0);
transform: translate3d(0px, 0, 0);
-webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
-moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
-o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
-ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.bgImage1 {
  background-image: url('./../../../assets/img/home/section1.jpg');
  background-position: center;
  background-size: cover;
}

.bgImage2 {
  background-image: url('./../../../assets/img/home/section2.jpg');
  background-position: center;
  background-size: cover;
}

.socialFooter span {
  font-size: 2rem;
}

.iconMenu {
  width: 30px;
  margin-top: 5px;
}

#navLogo {
  width: 50%;
}

.iconMenu [class^=bar] {
  background-color: #fff;
  display: block;
  height: 3px;
  border-radius: 2px;
}

.iconMenu .bar1 {
  width: 80%;
  margin-bottom: 5px;
}

.navbar-nav .nav-item:not(:last-child) {
  margin-right: 40px;
}

.navbar-nav .nav-item:last-child p {
  color: #fff;
}

.navbar-nav .nav-item .nav-link p:hover {
  color: #fff;
}

.navbar-nav .nav-item .nav-link p {
  position: relative;
}

.navbar-nav .nav-item:not(:last-child) .nav-link p:hover::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 1.5px;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.navbar .nav-item .nav-link:hover {
  background-color: transparent;
}

.verticalSeparator {
  display: inline-block;
  vertical-align: sub;
  width: 2px;
  height: 30px;
  opacity: .1;
  background-color: #a6a4a8;

}

#signupButton {
  border-color: white;
}

#signupButton:hover {
  background-color: #28afb0;
  border-color: #28afb0;
}

#login {
  cursor: pointer;
}

@media (max-width: 980px) {

  #navLogo {
    width: 100%;
  }

}