<div class="loginModal">
  <div class="flex flex-center flex-middle flexModal modalBg">
    <div class="loginForm mb-100">
      <div class="container p-50">
          <p class="h1">Log in</p>
        <div class="row mt-40">
          <div class="col-12 flex flex-middle sp-between socialLogin">
            <p class="bodyText colorGrey">Use your social account:</p>
            <div class="flex socialIconsLogin sp-between">
              <div class="icon facebook flex flex-middle flex-center">
                <span class="socicon-facebook"></span>
              </div>
              <div class="icon youtube flex flex-middle flex-center">
                <span class="socicon-youtube"></span>
              </div>
              <div class="icon twitter flex flex-middle flex-center">
                <span class="socicon-twitter"></span>
              </div>
            </div>
          </div>
          <div class="col-12 separatorLine mt-20">
            <p class="textCenter or bodyText colorGrey">or</p>
          </div>
        </div>
        <form action="" class="row mt-40">
          <div class="col-12">
            <div class="form-group">
              <input type="text" value="" placeholder="Your name" class="form-control">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <input type="password" value="" placeholder="Your password" class="form-control">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <button type="submit" class="btn btn-round btn-primary loginButton h4">Sign up</button>
            </div>
            <p class="bodyText">No account?
              <a (click)="changeModal('signup')">Sign up</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>