<div class="signupModal">

  <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate flex sp-between w-100 flex-middle">
        <a class="navbar-brand w-115" href="/" rel="tooltip" data-placement="bottom">
          <img src="../../../assets/img/brand/logo-dark.png" alt="logo-cofluencer">
        </a>
        <div class="iconMenu" (click)="closeSignup()">
          <span class="bar1"></span>
          <span class="bar2"></span>
        </div>
      </div>
    </div>
  </nav>

  <div class="flex flex-center flex-middle flexModal h-100 modalBg">
    <div class="loginForm">
      <div class="container p-50">
        <div class="title flex sp-between flex-baseline">
          <p class="h1">Sign up</p>
          <p class="bodyText">Are you a brand? <a href="">Sign up here</a></p>
        </div>
        <div class="row mt-40">
          <div class="col-12 flex flex-middle sp-between">
            <p class="bodyText colorGrey">Use your social account:</p>
            <div class="flex socialIconsLogin sp-between">
              <div class="icon facebook flex flex-middle flex-center">
                <span class="socicon-facebook"></span>
              </div>
              <div class="icon youtube flex flex-middle flex-center">
                <span class="socicon-youtube"></span>
              </div>
              <div class="icon twitter flex flex-middle flex-center">
                <span class="socicon-twitter"></span>
              </div>
            </div>
          </div>
          <div class="col-12 separatorLine mt-20">
            <p class="textCenter or bodyText colorGrey">or</p>
          </div>
        </div>
        <form action="" class="row mt-40">
          <div class="col-12">
            <div class="form-group">
              <input type="text" value="" placeholder="Your name" class="form-control">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <input type="email" value="" placeholder="Your email" class="form-control">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <input type="password" value="" placeholder="Your password" class="form-control">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <input type="password" value="" placeholder="Confirm your password" class="form-control">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <button type="submit" class="btn btn-round btn-primary loginButton h4">Sign up</button>
            </div>
            <p class="bodyText">Already have an account?
              <a href="">Log in</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

